$header-bg: #C1C2C3;
$header-color:#6C6D6E;
$header-button-hl: #B44849;
$nav-bg: #DEDFE0;
$main-color: #5B370D;
$nav-gray-color: #B1B2B3;
$title-color: #946313;
$table-th-color: #767778;
$table-border-color: #E7E8E9;

$text-color: #666;
$spacing-text: 2px;
$spacing-text-small: 1px;
$spacing-text-big: 3px;
$brown-color: #9A6F2A;
$brown-color-hover: #624219;
$blue-color: #6599cd;
$red-color: #B84646;