.form{
	input {
		height: 40px;
		border: solid 1px #E0E0E0;
		width: 100%;
		background: #F6F6F6;
    	padding: 5px 15px;
    	outline: none;
    	font-size: 12px;
    	margin-bottom: 20px;
	}

    input[type=checkbox] {
        width: 18px;
        height: 18px !important;
        margin: 0;
        padding: 0;
        vertical-align: top;
        border-radius: 0 !important;
        margin-bottom: 20px;
    }

    input[type=submit] {
        text-transform: uppercase;
    }
}
.form-control {
    height: 40px;
    border: solid 1px #E0E0E0;
    width: 100%;
    background: #F6F6F6;
    padding: 5px 15px;
    outline: none;
    font-size: 12px;
    border-radius: 0;
    box-shadow: none;
}
.form-control:focus{
    border-color: #9A6F2A;
    outline: 0;
    box-shadow: none;
}