
.login {
	.logo {
		margin-top: 50px;
	}

	.title {
		margin-top: 50px;
		text-transform: uppercase;
		font-size: 23px;
		font-weight: bold;
		letter-spacing: $spacing-text;
	}

	.line {
		width: 65px;
		background: #F68B47;
	    height: 3px;
	    margin: auto;
	}

	.form {
		margin-top: 50px;
	}

	input[type='submit'] {
		color: #fff;
		background: $brown-color;
	}

	input[type='submit']:hover {
		background: $brown-color-hover;
	}

	.tips {
		font-size: 11px;
		a:hover {
			color: $brown-color-hover;
			text-decoration: none;
		}
	}

	label {
		font-size: 12px;
		font-weight: normal;
	}

	.msg {
		display: block;
		line-height: 40px;
	}

	.msg_success {
		color: $blue-color;
		border: solid 1px $blue-color;
	}

	.msg_error {
		color: $red-color;
		border: solid 1px $red-color;
	}
}