.product {

    .currency {    
        font-size: 13px;
        background: #6897C7;
        color: #fff;
        border-radius: 5px;
        display: inline-block;
        padding: 0 5px;
        /* height: 40px; */
        line-height: 20px;
        font-weight: bold;
        margin-right: 10px;
        vertical-align: middle;
    }
    .item {
        display: table;
        margin-bottom: 50px;
        .img {
            width: 170px;
            display: table-cell;
            height: 80px;
            background-color: green;
            background-size: cover !important;
        }

        .info {
            display: table-cell;
            padding-left: 10px;
            max-width: 350px;
            overflow: hidden;
            .name {
                    font-size: 20px;
                    font-weight: bold;
                    height: 25px;
                    overflow: hidden;
                    text-overflow: ellipsis;
            }
            .description {
                height: 34px;
                margin: 10px 0;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: 0 !important;
                letter-spacing: 0 !important;
            }

            .price {
                input {
                    width: 70px;
                    float: left;
                    margin-right: 10px;
                }

                input[type="submit"] {
                    background: #9B702B;
                    color: #fff;
                    border: none;
                }

                input[type="submit"]:hover {
                    background: #5C3D1C;
                }

                .value {
                    float: left;
                    line-height: 40px;
                    margin-right: 10px;
                    font-size: 21px;
                    color: darkred;
                    width: 160px;
                    overflow: hidden;
                }

            }
        }

    }

    .darkred-color {
        color: darkred;
    }

    hr {
        margin: 10px 0;
    }

    .order {

        .title {
            text-transform: uppercase;
            font-size: 20px;
            margin-bottom: 5px;
            font-weight: bold;
            letter-spacing: $spacing-text;
        }

        .line {
            width: 65px;
            background: #F68B47;
            height: 3px;
        }

        ul {
            li {
                height: 40px;
                font-weight: bold;
                display: inline-block;
            }

            .price {
                line-height: 40px;
                text-align: right;
            }

            b {
                font-size: 15px;
            }

            .quantity {
                font-size: 12px;
                font-weight: normal;
            }

            .value {
                font-size: 20px;
                vertical-align: middle;
            }
        }
    }
}