a {
    color: $main-color;
}

.nav-moringga {
    background-color: $header-bg;
    border-radius: 0;
    min-height: 40px;
    border: none;
    margin-bottom: 0;
    a {
        color: $header-color;
        display: inline-block;
        padding: 10px;
        text-transform: uppercase;
        font-size: 10px;
        line-height: 20px;
    }
    .nav {
        li {
            float: left
        }
        li.button-hl a {
            background-color: $header-button-hl;
            color: #fff;
        }
        li.active a,
        li a:hover {
            background-color: $nav-bg;
            color: $main-color;
        }
    }
    .navbar-header {
        a {
            padding: 0 !important;
        }
    }
    &.navbar-menu {
        background-color: $nav-bg;
        img {
            max-width: 80px;
        }
        .title-page {
            text-transform: uppercase;
            font-size: 18px;
            color: $title-color;
        }
        .navbar-right {
            span {
                color: $nav-gray-color;
                text-transform: uppercase;
                font-size: 10px;
            }
            h3 {
                color: $main-color;
                margin: 0;
            }
            li {
                margin: 16px 0;
                padding: 0 30px;
                border-right: 1px solid $nav-gray-color;
            }
        }
    }
}

.table {
    border-collapse: collapse;
    border: 1px solid $table-border-color;
    margin-top: 15px;
}

.table>tbody>tr>td,
.table>tfoot>tr>td,
.table>thead>tr>td {
    border: 1px solid $table-border-color;
}

.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>th {
    background-color: #F4F5F6;
    border: 1px solid #DCDDDD;
}

.table>tbody>tr>th a,
.table>tfoot>tr>th a,
.table>thead>tr>th a {
    color: $table-th-color;
    font-weight: normal
}

footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding: 20px 30px;
}