/* line 1, /Applications/MAMP/htdocs/dev/moasia/html/scss/_base.scss */
body, html {
  margin: 0;
  color: #666;
  padding: 0;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
  letter-spacing: 1px;
  font-size: 13px; }

/* line 10, /Applications/MAMP/htdocs/dev/moasia/html/scss/_base.scss */
.text-center {
  text-align: center; }

/* line 14, /Applications/MAMP/htdocs/dev/moasia/html/scss/_base.scss */
.text-left {
  text-align: left; }

/* line 18, /Applications/MAMP/htdocs/dev/moasia/html/scss/_base.scss */
.no-padding {
  padding: 0; }

/* line 22, /Applications/MAMP/htdocs/dev/moasia/html/scss/_base.scss */
.no-margin {
  margin: 0; }

/* line 26, /Applications/MAMP/htdocs/dev/moasia/html/scss/_base.scss */
.auto-margin {
  margin: auto; }

/* line 30, /Applications/MAMP/htdocs/dev/moasia/html/scss/_base.scss */
.no-float {
  float: none; }

/* line 34, /Applications/MAMP/htdocs/dev/moasia/html/scss/_base.scss */
.upcase {
  text-transform: uppercase; }

/* line 38, /Applications/MAMP/htdocs/dev/moasia/html/scss/_base.scss */
.link_brown {
  color: #9A6F2A; }

/* line 42, /Applications/MAMP/htdocs/dev/moasia/html/scss/_base.scss */
.link_blue {
  color: #6599cd; }

/* line 46, /Applications/MAMP/htdocs/dev/moasia/html/scss/_base.scss */
.breakline-bottom {
  margin-bottom: 20px; }

/* line 3, /Applications/MAMP/htdocs/dev/moasia/html/scss/_login.scss */
.login .logo {
  margin-top: 50px; }

/* line 7, /Applications/MAMP/htdocs/dev/moasia/html/scss/_login.scss */
.login .title {
  margin-top: 50px;
  text-transform: uppercase;
  font-size: 23px;
  font-weight: bold;
  letter-spacing: 2px; }

/* line 15, /Applications/MAMP/htdocs/dev/moasia/html/scss/_login.scss */
.login .line {
  width: 65px;
  background: #F68B47;
  height: 3px;
  margin: auto; }

/* line 22, /Applications/MAMP/htdocs/dev/moasia/html/scss/_login.scss */
.login .form {
  margin-top: 50px; }

/* line 26, /Applications/MAMP/htdocs/dev/moasia/html/scss/_login.scss */
.login input[type='submit'] {
  color: #fff;
  background: #9A6F2A; }

/* line 31, /Applications/MAMP/htdocs/dev/moasia/html/scss/_login.scss */
.login input[type='submit']:hover {
  background: #624219; }

/* line 35, /Applications/MAMP/htdocs/dev/moasia/html/scss/_login.scss */
.login .tips {
  font-size: 11px; }
  /* line 37, /Applications/MAMP/htdocs/dev/moasia/html/scss/_login.scss */
  .login .tips a:hover {
    color: #624219;
    text-decoration: none; }

/* line 43, /Applications/MAMP/htdocs/dev/moasia/html/scss/_login.scss */
.login label {
  font-size: 12px;
  font-weight: normal; }

/* line 48, /Applications/MAMP/htdocs/dev/moasia/html/scss/_login.scss */
.login .msg {
  display: block;
  line-height: 40px; }

/* line 53, /Applications/MAMP/htdocs/dev/moasia/html/scss/_login.scss */
.login .msg_success {
  color: #6599cd;
  border: solid 1px #6599cd; }

/* line 58, /Applications/MAMP/htdocs/dev/moasia/html/scss/_login.scss */
.login .msg_error {
  color: #B84646;
  border: solid 1px #B84646; }

/* line 2, /Applications/MAMP/htdocs/dev/moasia/html/scss/_form.scss */
.form input {
  height: 40px;
  border: solid 1px #E0E0E0;
  width: 100%;
  background: #F6F6F6;
  padding: 5px 15px;
  text-transform: uppercase;
  outline: none;
  font-size: 12px;
  margin-bottom: 20px; }

/* line 14, /Applications/MAMP/htdocs/dev/moasia/html/scss/_form.scss */
.form input[type=checkbox] {
  width: 18px;
  height: 18px !important;
  margin: 0;
  padding: 0;
  vertical-align: top;
  border-radius: 0 !important;
  margin-bottom: 20px; }

/* line 24, /Applications/MAMP/htdocs/dev/moasia/html/scss/_form.scss */
.form-control {
  height: 40px;
  border: solid 1px #E0E0E0;
  width: 100%;
  background: #F6F6F6;
  padding: 5px 15px;
  text-transform: uppercase;
  outline: none;
  font-size: 12px;
  border-radius: 0;
  box-shadow: none; }

/* line 36, /Applications/MAMP/htdocs/dev/moasia/html/scss/_form.scss */
.form-control:focus {
  border-color: #9A6F2A;
  outline: 0;
  box-shadow: none; }

/* line 1, /Applications/MAMP/htdocs/dev/moasia/html/scss/_wallet.scss */
a {
  color: #5B370D; }

/* line 5, /Applications/MAMP/htdocs/dev/moasia/html/scss/_wallet.scss */
.nav-moringga {
  background-color: #C1C2C3;
  border-radius: 0;
  min-height: 40px;
  border: none;
  margin-bottom: 0; }
  /* line 11, /Applications/MAMP/htdocs/dev/moasia/html/scss/_wallet.scss */
  .nav-moringga a {
    color: #6C6D6E;
    display: inline-block;
    padding: 10px;
    text-transform: uppercase;
    font-size: 10px;
    line-height: 20px; }
  /* line 20, /Applications/MAMP/htdocs/dev/moasia/html/scss/_wallet.scss */
  .nav-moringga .nav li {
    float: left; }
  /* line 23, /Applications/MAMP/htdocs/dev/moasia/html/scss/_wallet.scss */
  .nav-moringga .nav li.button-hl a {
    background-color: #B44849;
    color: #fff; }
  /* line 28, /Applications/MAMP/htdocs/dev/moasia/html/scss/_wallet.scss */
  .nav-moringga .nav li.active a,
  .nav-moringga .nav li a:hover {
    background-color: #DEDFE0;
    color: #5B370D; }
  /* line 34, /Applications/MAMP/htdocs/dev/moasia/html/scss/_wallet.scss */
  .nav-moringga .navbar-header a {
    padding: 0 !important; }
  /* line 38, /Applications/MAMP/htdocs/dev/moasia/html/scss/_wallet.scss */
  .nav-moringga.navbar-menu {
    background-color: #DEDFE0; }
    /* line 40, /Applications/MAMP/htdocs/dev/moasia/html/scss/_wallet.scss */
    .nav-moringga.navbar-menu img {
      max-width: 80px; }
    /* line 43, /Applications/MAMP/htdocs/dev/moasia/html/scss/_wallet.scss */
    .nav-moringga.navbar-menu .title-page {
      text-transform: uppercase;
      font-size: 18px;
      color: #946313; }
    /* line 49, /Applications/MAMP/htdocs/dev/moasia/html/scss/_wallet.scss */
    .nav-moringga.navbar-menu .navbar-right span {
      color: #B1B2B3;
      text-transform: uppercase;
      font-size: 10px; }
    /* line 54, /Applications/MAMP/htdocs/dev/moasia/html/scss/_wallet.scss */
    .nav-moringga.navbar-menu .navbar-right h3 {
      color: #5B370D;
      margin: 0; }
    /* line 58, /Applications/MAMP/htdocs/dev/moasia/html/scss/_wallet.scss */
    .nav-moringga.navbar-menu .navbar-right li {
      margin: 16px 0;
      padding: 0 30px;
      border-right: 1px solid #B1B2B3; }

/* line 67, /Applications/MAMP/htdocs/dev/moasia/html/scss/_wallet.scss */
.table {
  border-collapse: collapse;
  border: 1px solid #E7E8E9;
  margin-top: 15px; }

/* line 75, /Applications/MAMP/htdocs/dev/moasia/html/scss/_wallet.scss */
.table > tbody > tr > td,
.table > tfoot > tr > td,
.table > thead > tr > td {
  border: 1px solid #E7E8E9; }

/* line 81, /Applications/MAMP/htdocs/dev/moasia/html/scss/_wallet.scss */
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > th {
  background-color: #F4F5F6;
  border: 1px solid #DCDDDD; }

/* line 88, /Applications/MAMP/htdocs/dev/moasia/html/scss/_wallet.scss */
.table > tbody > tr > th a,
.table > tfoot > tr > th a,
.table > thead > tr > th a {
  color: #767778;
  font-weight: normal; }

/* line 93, /Applications/MAMP/htdocs/dev/moasia/html/scss/_wallet.scss */
footer {
  height: 60px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  padding: 20px 30px; }

/*# sourceMappingURL=style.css.map */