body,html{margin:0;color:#666;padding:0;font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;letter-spacing:1px;font-size:13px;}.text-center{text-align:center}.text-left{text-align:left}.no-padding{padding:0}.no-margin{margin:0}.auto-margin{margin:auto}.no-float{float:none}.upcase{text-transform:uppercase}.link_brown{color:#9A6F2A}.link_blue{color:#6599cd}.breakline-bottom{margin-bottom:20px}.login .logo{margin-top:50px}.login .title{margin-top:50px;text-transform:uppercase;font-size:23px;font-weight:bold;letter-spacing:2px}.login .line{width:65px;background:#F68B47;height:3px;margin:auto}.login .form{margin-top:50px}.login input[type='submit']{color:#fff;background:#9A6F2A}.login input[type='submit']:hover{background:#624219}.login .tips{font-size:11px}.login .tips a:hover{color:#624219;text-decoration:none}.login label{font-size:12px;font-weight:normal}.login .msg{display:block;line-height:40px}.login .msg_success{color:#6599cd;border:solid 1px #6599cd}.login .msg_error{color:#B84646;border:solid 1px #B84646}.form input{height:40px;border:solid 1px #E0E0E0;width:100%;background:#F6F6F6;padding:5px 15px;outline:none;font-size:12px;margin-bottom:20px}.form input[type=checkbox]{width:18px;height:18px !important;margin:0;padding:0;vertical-align:top;border-radius:0 !important;margin-bottom:20px}.form-control{height:40px;border:solid 1px #E0E0E0;width:100%;background:#F6F6F6;padding:5px 15px;outline:none;font-size:12px;border-radius:0;box-shadow:none}.form-control:focus{border-color:#9A6F2A;outline:0;box-shadow:none}a{color:#5B370D}.nav-moringga{background-color:#C1C2C3;border-radius:0;min-height:40px;border:none;margin-bottom:0}.nav-moringga a{color:#6C6D6E;display:inline-block;padding:10px;text-transform:uppercase;font-size:10px;line-height:20px}.nav-moringga .nav li{float:left}.nav-moringga .nav li.button-hl a{background-color:#B44849;color:#fff}.nav-moringga .nav li.active a,.nav-moringga .nav li a:hover{background-color:#DEDFE0;color:#5B370D}.nav-moringga.navbar-menu{background-color:#DEDFE0}.nav-moringga.navbar-menu img{max-width:80px}.nav-moringga.navbar-menu .title-page{text-transform:uppercase;font-size:18px;color:#946313}.nav-moringga.navbar-menu .navbar-right span{color:#B1B2B3;text-transform:uppercase;font-size:10px}.nav-moringga.navbar-menu .navbar-right h3{color:#5B370D;margin:0}.nav-moringga.navbar-menu .navbar-right li{margin:16px 0;padding:0 30px;border-right:1px solid #B1B2B3}.table{border-collapse:collapse;border:1px solid #E7E8E9;margin-top:15px}.table>tbody>tr>td,.table>tfoot>tr>td,.table>thead>tr>td{border:1px solid #E7E8E9}.table>tbody>tr>th,.table>tfoot>tr>th,.table>thead>tr>th{background-color:#F4F5F6;border:1px solid #DCDDDD}.table>tbody>tr>th a,.table>tfoot>tr>th a,.table>thead>tr>th a{color:#767778;font-weight:normal}

/*# sourceMappingURL=style.css.map */
/*# sourceMappingURL=style.css.map */

.select2-container .select2-choice {
    line-height: 2.3 !important;
    border: solid 1px #E0E0E0 !important;
    border-radius: 0 !important;
    height: 40px !important;
    background: #F6F6F6 !important;
    box-shadow: none !important;
}
footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding: 20px 30px; 
    margin-top: 30px;
}
.dropdown-menu li{
    float: none!important;
}
.dropdown-menu li a{
    padding:  10px 20px;
}
.page-content{
    margin-top: 50px;
    min-height: 600px;
}
.panel-body{
    padding: 0;
}
.panel-title{
    text-transform:uppercase;font-size:32px;color:#5B370D;
    margin-bottom: 20px;
}
.grid-view{
    margin-top: 30px;
}
.huge {
    font-size: 40px;
}
.panel-primary{
    border-color: #5B370D;
}
.panel-primary>.panel-heading{
    color: #fff;
    background-color: #5B370D;
    border-color: #5B370D;
}
.panel-primary .panel-body{
    color: #222;
    padding: 10px;
}

.form input[type=submit] {
    text-transform: uppercase;
}
.panel-primary,
.panel-heading{
    border-radius: 0;
}
.table.borderless,.borderless td, .borderless th {
    border: none !important;
}
.txtred {
    color: red !important;
}