body,
html {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: #666;
}

a,
a:hover,
a:active,
a:focus {
    color: #9A6F2A;
}

a:hover {
    text-decoration: none;
}

.indent {
    text-indent: -9999px;
    margin: 0;
    padding: 0;
}

.page-wp {
    width: 90%;
    margin: 0 auto;
}

#nav-stick {
    position: fixed;
    width: 100%;
    display: none;
    padding: 10px 0;
    top: 0;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.8);
}

#nav-stick img {
    width: 100px;
}

#loading {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    background: #fff;
}

#loading img {
    width: 60px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
}

#header #nav-stick .menu li a {
    color: #624219;
}

#header #nav-stick .menu li a:hover,
#header #nav-stick .menu li.active a {
    color: #fff;
}

#header {
    height: 100vh;
    min-height: 600px;
}

#header .scroll-down {
    position: absolute;
    bottom: 20px;
    z-index: 10;
    width: 100%;
}

#header .scroll-down a,
#header .scroll-down .fa {
    color: #fff;
}

#header .scroll-down .fa {
    font-size: 32px;
}

.floating {
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    margin-bottom: 5px;
}

#header .logo,
#header {
    position: relative;
}

.logo .indent,
#header #nav-top,
#header #slideshow {
    position: absolute;
}

.logo img {
    width: 200px;
}

#nav-top {
    z-index: 2;
    width: 100%;
    margin-top: 50px;
}

ul.reset {
    margin: 0;
    padding: 0;
    list-style: none;
}

#header .menu li,
#header .menu li a {
    display: inline-block;
}

#header .menu li {
    padding: 10px;
}

#header .menu li a {
    padding: 5px 10px;
    color: #fff;
    text-transform: uppercase;
    line-height: 20px;
    font-size: 13px;
}

.menu li a:hover,
.menu li.active a {
    text-decoration: none;
    background: #63A422;
    border-radius: 3px;
}

#slideshow .slide-wp,
#slideshow {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    min-height: 600px;
}

#slideshow .bg-image {
    width: calc(100% + 60px);
    height: calc(100% + 60px);
    margin-left: -30px;
    margin-top: -30px;
    background: url(../images/vn.jpg) transparent no-repeat center center;
    background-size: cover;
    position: absolute;
}

#slideshow .bg-image.campodia {
    background-image: url(../images/campodia.jpg);
}
#slideshow .bg-image.thailand {
    background-image: url(../images/thailand.jpg);
}

#slideshow .bg-image.laos {
    background-image: url(../images/laos.jpg);
}

#slideshow .bg-image.singapore {
    background-image: url(../images/singapore.jpg);
}
#slideshow .bg-image.malaysia {
    background-image: url(../images/malaysia.jpg);
}
#slideshow .bg-image.myanmar {
    background-image: url(../images/myanmar.jpg);
}
#slideshow .bg-image.phillipines {
    background-image: url(../images/phillipines.jpg);
}
#slideshow .slide-wp .item,
#slideshow .slide-wp .item:after {
    height: 100%;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}
#slideshow .slide-wp .item .text-box{
    left: -100%;
    transition: all 0.5s ease;
}
#slideshow .slide-wp .item.active {
    z-index: 2;
}
#slideshow .slide-wp .item.active .text-box{
    left: 5%;
}
#slideshow .slide-wp .item.process {
    z-index: 1;
}
#slideshow .slide-wp .item:after {
    content: '';
    z-index: 1;
    display: block;
    background-image: url(../images/overlay.png);
}

#slideshow img {
    width: 110%;
    margin: -25px -25px;
}

#slideshow .text-box {
    position: absolute;
    color: #fff;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 9;
    line-height: 1.3;
}

.toggle-slide {
    position: absolute;
    z-index: 10;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    font-size: 60px;
    padding: 10px;
    opacity: 0.3;
    transition: all 0.6s ease;
}

.toggle-slide:hover {
    opacity: 1;
}

.toggle-slide.next {
    right: 10px;
}

.toggle-slide.prev {
    left: 10px;
}

.toggle-slide a {
    color: #fff;
}

.text-box span {
    display: inline-block;
}

.text-header {
    font-weight: 300;
    font-size: 24px;
}

.text-body {
    font-weight: 700;
    font-size: 56px;
    text-transform: uppercase;
}

.text-footer span {
    padding: 5px 10px;
    line-height: 20px;
    background: rgba(99, 164, 34, 0.8);
    border-radius: 3px;
}


/*About US*/

#about-us {
    padding: 50px 0;
    background: url(../images/world.png) #fff no-repeat center center;
}

#about-us h2,
#product h2,
#about-us h3 {
    color: #624219;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
    margin: 0 0 15px;
}

#about-us li,
#product li {
    display: inline-block;
    font-size: 16px;
}

#about-us li:after {
    content: ' - ';
    color: #9A6F2A;
}

#about-us li:last-child:after {
    display: none;
}

#about-us .divide,
#product .divide {
    width: 100px;
    margin: 30px auto;
    height: 5px;
    background-color: #63A422;
}

#about-us .intro-text {
    max-width: 710px;
    margin: 0 auto;
}

#about-us h3 {
    text-transform: none;
    color: #63A422;
    font-size: 20px;
    margin: 50px 0 10px;
}


/*Intro*/

#info {
    padding: 80px 0;
    position: relative;
    color: #fff;
}

#info:before {
    position: absolute;
    content: '';
    display: block;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(98, 66, 25, 0.9);
}

#info .page-wp {
    max-width: 1024px;
}

#info .item {
    padding: 15px 50px;
}

#info .item img {
    margin-top: 30px;
    max-width: 100%;
}

#info .fa {
    font-size: 32px;
}

#info .highlight {
    margin: 10px 0;
    font-size: 32px;
    font-weight: 700;
}

#info .text-footer {
    font-size: 16px;
    font-weight: 300;
    color: #ccc;
}


/*Product*/

#product {
    padding: 40px 0;
}

.product-box {
    position: relative;
    margin: 10px 0;
}

#product .lists li {
    display: block;
}

.product-box:hover {
    box-shadow: 0 0 30px rgba(0, 0, 0, .2);
    z-index: 5;
}

.product-thumb img {
    width: 100%;
}

.product-thumb {
    position: relative;
    z-index: 3;
}

.product-footer,
.show-behind {
    background: #F6F6F6;
    padding: 20px;
    padding-bottom: 10px;
    font-size: 14px;
    position: relative;
    z-index: 2;
}

.product-footer p {
    margin: 0;
}

.product-footer a {
    text-transform: uppercase;
    font-weight: 700;
    color: #624219;
    display: block;
    margin-bottom: 10px;
}

.product-box:hover p {
    color: #9A6F2A;
}

.product-box:hover i {
    color: #666;
}

.product-box:hover .show-behind {
    box-shadow: 0 0 30px rgba(0, 0, 0, .2);
    display: block;
}

.show-behind {
    position: absolute;
    z-index: 1;
    width: 100%;
    display: none;
    padding-top: 0;
}

.show-behind a {
    display: inline-block;
    text-transform: none;
    font-weight: 400;
    color: #63A422;
    margin-bottom: 0;
}

#footer {
    background: #63A422;
    padding: 15px 0;
    color: #fff;
}

#footer .item {
    margin: 25px 0;
}

#footer a {
    color: #fff;
}

#footer img {
    width: 150px;
}

@media only screen and (max-width: 768px) {
    .show-behind {
        position: relative;
        display: block;
    }
    #header .menu li,
    .toggle-slide {
        display: none;
    }
    #nav-stick {
        display: none !important;
    }
    #header .menu li:last-child {
        display: block;
    }
    #header .menu li:last-child a {
        background: #63A422;
        border-radius: 3px;
    }
    #header .pull-right,
    #header .pull-left,
    #header .menu {
        width: 100%;
        text-align: center;
    }
    #header .menu {
        margin-top: 15px;
    }
    .text-body {
        font-size: 48px;
    }
    #header,
    #slideshow .slide-wp,
    #slideshow {
        min-height: 500px;
    }
    .col-md-4 {
        padding: 0;
    }
}